<!DOCTYPE html>
<html>
<head>
    <title>Active draft</title>
<!--    <link rel="stylesheet" href="{{url_for('static',filename='css/archive_del.css')}}" >-->
<!--    <link rel="stylesheet" href="templates/static/css/archive_del.css">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>-->

</head>
<body>
    <form action="/run_post" method="post" id="from">
        <h3>You want active draft listing :</h3>
        <input type="submit" value="Run Function">

    </form>
</body>
</html>
